body {
  background-color: #06111c;
  font-family: Verdana;
  color: white;
}

.topnav {
  background-color: #1f252b;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #273340;
}

.topnav a.active {
  background-color: #00254a;
  color: white;
}